<div class="container-fluid p-lg-5 p-md-4 p-sm-2 p-1 pb-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="container mb-5 text-center" id="header">
        <h1>SaleScanner</h1>
        <h5><i>интелигентната търсачка за обяви</i></h5>
        <h3>всички обяви на едно място</h3>
      </div>
    
      <div class="container mb-3" id="search-field">
        <div class="row">
          <div class="col-lg-6 mb-2">
            <input
              type="text"
              class="form-control"
              (keyup.enter)="search()"
              placeholder="Въведете желаното тук..."
              [(ngModel)]="searchQuery">
          </div>
          <div class="col-lg-3 mb-2">
            <ng-select [items]="orderAttributes"
                       placeholder="Сортирай по:"
                       bindLabel="name" 
                       bindValue="id" 
                       [(ngModel)]="orderBy">
            </ng-select>
          </div>
          <div class="col-lg-3 mb-2 d-flex justify-content-end justify-content-lg-start">
            <button
              *ngIf="!isSearchLoading"
              class="btn btn-success"
              (click)="search()"
              [disabled]="searchQuery == null || searchQuery == '' || orderBy == null || orderBy == ''">
              Търси <fa-icon [icon]="faSearch"></fa-icon>
            </button>
            <div *ngIf="isSearchLoading" class="spinner-border text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="row text-left mt-1">
          <div *ngIf="adCount == null" class="col-lg-12">
            <span class="badge badge-light p-2" style="font-size: 0.9rem">Зареждане на броя индексирани обяви...</span>
          </div>
          <div *ngIf="adCount != null" class="col-lg-12">
            <span class="badge badge-light p-2" style="font-size: 0.9rem">{{ adCount }} индексирани обяви</span>
          </div>
        </div>
      </div>

      <div *ngIf="requestTime != null" class="container mt-5" id="request-info">
        <div class="row">
          <div class="col-12 col-sm-6 mb-1 text-left">
            <span class="badge badge-secondary p-2" style="font-size: 1rem">{{ totalCount }} резултата</span>
          </div>
          <div class="col-12 col-sm-6 mb-1 text-left text-sm-right">    
            <span class="badge badge-secondary p-2" style="font-size: 1rem">Време за изпълнение: {{ requestTime }}ms</span>
          </div>
        </div>
      </div>
      <hr *ngIf="requestTime != null" class="mb-5 mt-3">
      
      <div class="container mb-3" id="results">
        <div
          class="card rounded mb-3 mt-3 ad-hover"
          style="cursor: pointer; background-color: rgba(245, 245, 245, 0.9);"
          (click)="openAdLink(ad)"
          *ngFor="let ad of ads"
        >
          <div class="card-header">
            <h4>{{ ad['source']['title'] }}</h4>
          </div>

          <div class="card-body pt-1 pb-0">
            <div class="row">
              <div class="col-xl-4 col-lg-5 mt-2 text-center overflow-hidden">
                <img
                  style="width: 300px; height: 300px; max-width: 100%; object-fit: cover"
                  src="{{ ad['source']['image_url'] }}"
                  (error)="setDefaultPic(ad)"
                >
              </div>
              <div class="col-xl-8 col-lg-7 mt-2 text-center">
                {{ parseDescription(ad['source']['description']) }}
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <span style="font-size: 1.1rem" class="badge badge-pill p-3 m-2" [ngClass]="getBadgeClass(ad['source']['literacy'])">
                  <strong>Грамотност</strong>: {{ ad['source']['literacy'] }}%
                </span>
                <span style="font-size: 1.1rem" class="badge badge-pill p-3 m-2" [ngClass]="getBadgeClass(getAdScore(ad))">
                  <strong>Релевантност</strong>: {{ getAdScore(ad) }}%
                </span>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-6 text-left my-auto">
                <h4 class="align-bottom">{{ parseDate(ad['source']['upload_time']) }}</h4>
              </div>
              <div class="col-6 text-right my-auto">
                <h2 class="align-bottom">{{ ad['source']['price'] }}</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="container text-center" id="load-more" *ngIf="showLoadMore">
        <button
          *ngIf="!isLoadMoreLoading"
          class="btn btn-light"
          (click)="loadMore()"
          >
          Зареди още <fa-icon [icon]="faRedo"></fa-icon>
        </button>
        <div *ngIf="isLoadMoreLoading" class="spinner-border text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>